/* Змінні */

:root {
  --accent-color: #ff6b0a;
}

/* Скидання стилів */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}

/* Загальні стилі */
.container {
  max-width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.section {
  padding: 80px 0 80px 0;
}

.btn {
  padding: 20px 28px;
  border: 1px solid var(--accent-color);
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #dbf0ff;
  color: var(--accent-color);
}

/* Стилі хедера */

.header {
  background-color: #dbf0ff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* .header-container::after {
  content: "";
  position: absolute;
  width: 1240px;
  height: 1240px;
  border-radius: 50%;
  background-color: #c2e6ff;
  right: -550px;
  top: -500px;
  z-index: 2;
} */

.header-navigation-list {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 3;
}

.header-navigation-link {
  padding: 32px 0 32px 0;
  transition: color 0.3s ease;
}

.header-navigation-link:hover {
  color: var(--accent-color);
}

/* Стилі першої секції */

.hero {
  background-color: #dbf0ff;
  padding-bottom: 215px;
}

.hero-container {
  position: relative;
}

.hero-block-info {
  width: 573px;
}

.hero-block-info-suptitle {
  font-family: Montserrat;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-block-info-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.hero-block-info-text {
  line-height: 1.2;
  margin-bottom: 48px;
  position: relative;
  z-index: 2;
}

.socs {
height: 680px;
position: absolute;
z-index: 3;
top: -80px;
left: 500px;
}

.hero-block-img-cotton {
  height: 184px;
  position: absolute;
  bottom: 120px;
  right: 55px;
}

.cotton-container {
  position: absolute;
  width: 330px;
  height: 330px;
  border-right: 2px solid #010101;
  border-left: 2px solid #010101;
  border-radius: 50%;
  right: 20px;
  bottom: -200px;
  z-index: 3;
}

.cotton {
  height: 183px;
  transform: rotate(7.525deg);
  position: absolute;
  right: 70px;
  bottom: 65px;
}

.icon-quality {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 3;
}

.icon-great {
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 5;
}

/* Стилі другої секції */

/* Стилі третьої секції */

/* Стилі четвертої секції */

/* Стилі футера */
