/* Змінні */

:root {
}

/* Скидання стилів */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

/* Загальні стилі */

/* Стилі хедера */

/* Стилі першої секції */

/* Стилі другої секції */

/* Стилі третьої секції */

/* Стилі четвертої секції */

/* Стилі футера */