/* Змінні */

:root {
  --accent-color: #ff6b0a;
}

/* Скидання стилів */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}

/* Загальні стилі */
.container {
  max-width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.section {
  padding: 114px 0 114px 0;
}

.btn {
  padding: 20px 28px;
  border: 1px solid var(--accent-color);
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #dbf0ff;
  color: var(--accent-color);
}

.block-text {
  color: var(--main-black, #17161c);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.block-wrapper {
  display: flex;
  align-items: center;
}

/* Стилі хедера */

.header {
  background-color: #dbf0ff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-container::after {
  content: "";
  position: absolute;
  width: 1240px;
  height: 1240px;
  border-radius: 50%;
  background-color: #c2e6ff;
  right: -550px;
  top: -465px;
  z-index: 2;
}

.header-navigation-list {
  display: flex;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 3;
}

.header-navigation-link {
  padding: 32px 0 32px 0;
  transition: color 0.3s ease;
}

.header-navigation-link:hover {
  color: var(--accent-color);
}

/* Стилі першої секції */

.hero {
  background-color: #dbf0ff;
  padding-bottom: 215px;
}

.hero-container {
  position: relative;
}

.hero-block-info {
  width: 573px;
}

.hero-block-info-suptitle {
  font-family: Montserrat;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-block-info-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.hero-block-info-text {
  line-height: 1.2;
  margin-bottom: 48px;
  position: relative;
  z-index: 2;
}

.socs {
  height: 680px;
  position: absolute;
  z-index: 3;
  top: -80px;
  left: 500px;
}

.hero-block-img-cotton {
  height: 184px;
  position: absolute;
  bottom: 120px;
  right: 55px;
}

.cotton-container {
  position: absolute;
  width: 330px;
  height: 330px;
  border-right: 2px solid #010101;
  border-left: 2px solid #010101;
  border-radius: 50%;
  right: 20px;
  bottom: -200px;
  z-index: 3;
}

.cotton {
  height: 183px;
  transform: rotate(7.525deg);
  position: absolute;
  right: 70px;
  bottom: 65px;
}

.icon-quality {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 3;
}

.icon-great {
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 5;
}

/* Стилі другої секції */

.happy-block-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 48px;
}

.happy-block-list {
  display: flex;
  gap: 24px;
}

.happy-block-item {
  width: 374px;
  text-align: center;
}

.happy-block-item b {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
}

/* Стилі третьої секції */

.advantages {
  padding-top: 0;
}

.advantages-block-img {
  background-color: #dbf0ff;
  width: 573px;
  height: 540px;
  position: relative;
  border-radius: 32px;
  margin-right: 24px;
}

.advantages-block-img img {
  position: absolute;
  height: 504px;
  left: 45px;
  top: -25px;
}

.advantages-block-list {
  margin-top: 96px;
}

.advantages-block-item {
  display: flex;
  align-items: flex-start;
  gap: 36px;
  width: 570px;
  margin-bottom: 32px;
}

.icon-container {
  border: 1px solid #2F2F37;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

/* Стилі четвертої секції */

/* Стилі футера */
